<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Candidate Details</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/raleway-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
	<div class="page-content" style="background-image: url('images/wizard-v1.jpg')">
		<div class="wizard-v1-content">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" action="/candidate/candidateFormSubmit" method="post" enctype="multipart/form-data" >
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-account"></i></span>
			            	<span class="step-number">Step 1</span>
			            	<span class="step-text">Personal Information</span>
			            </h2>
			            <section>
			                <div class="inner">
								<div class="form-row">
									<div class="form-holder">
										<label for="firstName">First Name*</label>
										<input type="text" placeholder="First Name" class="form-control" id="firstName" name="firstName" required >
									</div>
									<div class="form-holder">
										<label for="lastName">Last Name*</label>
										<input type="text" placeholder="Last Name" class="form-control" id="lastName" name="lastName" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label for="email">Email Address*</label>
										<input type="email" placeholder="Your Email" class="form-control" id="email" name="email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label for="contact">Contact No*</label>
										<input type="text" placeholder="Contact Details" class="form-control" id="contact" name="contact" required>
									</div>
								</div>
							</div>
			            </section>
						<!-- SECTION 2 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-card"></i></span>
			            	<span class="step-number">Step 2</span>
			            	<span class="step-text">Professional Information</span>
			            </h2>
			            <section>
			                <div class="inner">
								<div class="form-row">
									<div class="form-holder form-holder-2">
										<label for="jobId">Job ID</label>
										<input type="text" placeholder="Please enter Job ID for which you want to be referred" class="form-control" id="jobId" name="jobId" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-3">
										<label for="experience">Profession Experience</label>
										<input type="text" name="experience" class="card-number" id="experience" placeholder="ex: 4 Years ..">
									</div>
									<div class="form-holder">
										<label for="skills">Skills</label>
										<input type="text" name="skills" class="cvc" id="skills" placeholder="Java, .NET, NodeJs">
									</div>
								</div>
								<div class="form-row form-row-2">
									<div class="form-holder">
										<label for="readyToRelocate">Ready to Relocate</label>
										<select name="readyToRelocate" id="readyToRelocate" class="form-control">
											<option value="" disabled selected>Please select</option>
											<option value="yes">Yes</option>
											<option value="no">No</option>
										</select>
									</div>
									<div class="form-holder">
										<label for="isActiveForJob">Actively Looking For Job</label>
										<select name="isActiveForJob" id="isActiveForJob" class="form-control">
											<option value="" disabled selected>Please select</option>
											<option value="yes">Yes</option>
											<option value="no">No</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder form-holder-2">
								<label class="form-label" for="resume">Upload Your Resume</label>
								<input type="file" class="form-control" name="resume" id="resume" />
									</div>
								</div>
							</div>
			            </section>
			            <!-- SECTION 3 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
			            	<span class="step-number">Step 3</span>
			            	<span class="step-text">Confirm Your Details</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<h3>Confirm Details</h3>
								<div class="form-row table-responsive">
									<table class="table">
										<tbody>
											<tr class="space-row">
												<th> First Name:</th>
												<td id="firstName-val"></td>
											</tr>
											<tr class="space-row">
												<th> Last Name:</th>
												<td id="lastName-val"></td>
											</tr>
											<tr class="space-row">
												<th>Email Address:</th>
												<td id="email-val"></td>
											</tr>
											<tr class="space-row">
												<th>Contact No:</th>
												<td id="contact-val"></td>
											</tr>
											<tr class="space-row">
												<th>Job ID:</th>
												<td id="jobId-val"></td>
											</tr>
											<tr class="space-row">
												<th>Profession Experience:</th>
												<td id="experience-val"></td>
											</tr>
											<tr class="space-row">
												<th>Skills:</th>
												<td id="skills-val"></td>
											</tr>
											<tr class="space-row">
												<th>Ready to Relocate:</th>
												<td id="readyToRelocate-val"></td>
											</tr>
											<tr class="space-row">
												<th>Actively Looking For Job:</th>
												<td id="isActiveForJob-val"></td>
											</tr>
											<tr class="space-row">
												<th>Resume:</th>
												<td id="resume-val"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
			            </section>
		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script src="js/jquery.steps.js"></script>
	<script src="js/main.js"></script>

</body>
</html>